.container_level1{
    position: relative;
    width: 250px;
    height: 250px;
    top: 80px;
    left: 450px;
}

.level1 {
    position: absolute;
    border: none;
    width: 180px;
    height: 180px;
    background: url("../../assets/moon.png");
    background-size: cover;
    cursor: pointer;
    font-size: 70px;
    color: yellow;
}

@keyframes slideAnimation {
    0% {
      left: -3000px;
    }
    50% {
      left: -3000px; 
    }
    100% {
      left: 0; 
    }
  }


.star{
    position: relative;
    top: 185px;
    margin-right:12px;
    animation: slideAnimation 2s linear  ;
}

.container_level2{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 160px;
    left: 1300px;
}

.level2{
    position: absolute;
    border: none;
    width: 180px;
    height: 180px;
    background: url("../../assets/moon.png");
    background-size: cover;
    cursor: pointer;
    font-size: 70px;
    color: yellow
}

.container_level3{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 350px;
    left: 950px;
}

.level3{
    position: absolute;
    border: none;
    width: 180px;
    height: 180px;
    background: url("../../assets/moon.png");
    background-size: cover;
    cursor: pointer;
    font-size: 70px;
    color: yellow
}

.container_level4{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 600px;
    left: 650px;
}

.level4{
    position: absolute;
    border: none;
    width: 180px;
    height: 180px;
    background: url("../../assets/moon.png");
    background-size: cover;
    cursor: pointer;
    font-size: 70px;
    color: yellow
}

.container_level5{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 650px;
    left: 1200px;
}

.level5{
    position: absolute;
    border: none;
    width: 180px;
    height: 180px;
    background: url("../../assets/moon.png");
    background-size: cover;
    cursor: pointer;
    font-size: 70px;
    color: yellow
}

.fill{
    color: yellow;
}

.back-button{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    /* color: ; */
    background-color: #64dbff;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 80px;
    cursor: pointer;
    color: white;   
    font-size: 30px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}