.cr-creator {
  background-color: #fff;
}

.manage-courses {
  background-color: #eaf0ff;
  width: 100%;
  height: 100vh;
}

.input-right {
  width: 300px;
}

.flex-container {
  display: flex;
}

/* #title,
#description {
  color: #000;
} */
